@import '../../styles/variables';

.comments-list-page {
  &__title {
    font-size: $heading-4-size;
    font-weight: $font-weight-bold;
    color: $white;
    line-height: $heading-4-line-height;
    margin-bottom: 0;
  }
  
  // 리스트 레이아웃 (contentId가 있을 때 - 같은 콘텐츠)
  &__list-layout {
    // 리스트 스타일 추가 설정 가능
  }
  
  // 그리드 레이아웃 (contentId가 없을 때 - 여러 콘텐츠)
  &__grid-layout {
    // 그리드 스타일 추가 설정 가능
  }
}

