@import "../../styles/variables";

.auth-page {
  display: flex;
  justify-content: center; // 가로 가운데
  align-items: center; // 세로 가운데
}

#loginform,
#registerform,
#findidform,
#findpasswordform {
  margin: $spacing-9; // 72px
  width: 100%;
  max-width: 646px;
  background-color: rgba($color: $black1, $alpha: 0.8);
  border-radius: $border-radius-lg;
  padding: $spacing-7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .form-group {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    &.form-item {
      width: 100%;
    }
    
    h3 {
      font-size: $heading-3-size;
      line-height: $heading-3-line-height;
      margin-bottom: 0;
    }
  }

  .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.auth-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-link a {
  text-decoration: underline;
  color: inherit;
  &:not(:last-child)::after {
    content: "|";
    margin: $spacing-2;
  }
}

.gap:not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}
