@import "../../styles/globals.scss";

//내 프로필
.profile_section {
  padding: $spacing-3;
  display: flex;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn.profile--edit {
    width: 100%;
    max-width: 270px;
    margin-right: 0;
    margin-top: $spacing-3;
  }
}
.profile--pic {
  width: 270px;
  height: 270px;
  border-radius: 100%;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $spacing-5;
  .info--rank {
    justify-content: space-between;
    margin: 0;
  }
  .info--name {
    margin: $spacing-2 0 0 0;
    flex-direction: column;
    gap: 0;
  }
}

.info--name h5 {
  margin: 0;
}

.inner_Tabs {
  margin: $spacing-3 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  flex: 1;
  * {
    aspect-ratio: 1 / 1;
    max-width: 255px;
    max-height: 255px;
    background-color: $gray5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }
}
.icon.setting:hover {
  cursor: pointer;
}

// 테이블
.inner-table {
  margin-top: $spacing-6;
}
.inner-table__header {
  img {
    margin-left: $spacing-2;
  }
}
.inner-table table {
  margin-top: $spacing-3;
  margin-bottom: $spacing-3;

  tr,
  tr > td,
  tr > th {
    padding: $spacing-3;
  }
}
.inner-table table tr.column {
  :first-child {
    border-radius: 4px 0 0 0;
  }
  :last-child {
    border-radius: 0 4px 0 0;
  }
  th {
    background: $primary-color;
    border: none;
  }
}

// 캘린더

// 코멘트 내역

// 취향 분석
.taste {
  color: $gray1;
}

.rating-graph,
.taste-graph,
.taste-analysis {
  display: flex;
  flex-direction: column;
  padding: $spacing-4;
  background-color: $gray5;
  border-radius: 16px;
  margin: 0;
}

.taste .under {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

  .taste-graph {
    flex: 0 0 80%;
  }

  .taste-analysis {
    flex: 0 0 40%;
  }
}
