@import "../../styles/globals.scss";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile--pic {
  width: 270px;
  height: 270px;
  border-radius: 100%;
  background-color: aqua;
}

.btn.profile--edit {
  width: 100%;
  max-width: 270px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $spacing-3;
  .info--rank {
    justify-content: space-between;
    margin: 0;
  }
  .info--name {
    margin: 0;
    flex-direction: column;
    gap: 0;
  }
}

.info--name h5 {
  margin: 0;
}

// 캘린더

// 코멘트 내역

// 취향 분석
.taste {
  color: $gray1;
}

.rating-graph,
.taste-graph,
.taste-analysis {
  display: flex;
  flex-direction: column;
  padding: $spacing-4;
  background-color: $gray5;
  border-radius: 16px;
  margin: 0;
}

.taste .under {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

  .taste-graph {
    flex: 0 0 80%;
  }

  .taste-analysis {
    flex: 0 0 40%;
  }
}
