@import '../../../styles/variables';
@import '../../../styles/mixins';

.withdrawal-confirm-modal {
  text-align: center;

  &__question {
    @include text-base($heading-6-size, $font-weight-normal);
    color: $white;
    margin-bottom: $spacing-4;
  }
}

