@import '../../../styles/variables';
@import '../../../styles/mixins';

.confirm-modal {
  text-align: center;
  padding: $spacing-4 0;

  &__message {
    @include text-base($body-normal-size, $font-weight-normal);
    color: $white;
    margin-bottom: $spacing-4;
    line-height: 1.5;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

