@import "../../styles/globals.scss";

.movie-top {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 550px;
  display: flex;
  align-items: flex-end; // 하단 정렬
  
  // 배경 오버레이 (텍스트 가독성 향상)
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    z-index: 0;
    color: white;
  }
  
  .container {
    position: relative;
    z-index: 1;
    padding-bottom: $spacing-8;
  }

  h2 {
    margin-bottom: $spacing-3;
    font-size: $heading-4-size;
    font-weight: $font-weight-bold;
    line-height: $heading-4-line-height;
  }
  h6 {
    margin-bottom: 0;
    font-size: $body-large-size;
    font-weight: $font-weight-bold;
    line-height: $body-large-line-height;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movie-detail {
  img {
    width: 100%;
    aspect-ratio: 2/3;
    height: auto;
    border-radius: $border-radius-lg;
    object-fit: cover;
    box-shadow: $box-shadow-md;
  }
}

.detail--data {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $spacing-4;
  @media (max-width: 991px) {
    grid-template-columns: 1fr;
    gap: $spacing-5;
  }
}

.ratescore {
  display: flex;
  gap: $spacing-5;
  
  @media (max-width: 991px) {
    gap: $spacing-3;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  
  .rating--icon {
    display: flex;
    gap: 2px;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.1s ease-out;
      will-change: transform;
      
      &:hover {
        transform: scale(1.1);
      }
      
      &:active {
        transform: scale(0.95);
      }
    }
    
    svg {
      width: $icon-lg;
      height: $icon-lg;
      color: $kakao-yellow;
      transition: color 0.15s ease-out, transform 0.1s ease-out;
      will-change: color, transform;
    }
  }
  
  .rating--text {
    color: $white;
    font-size: $body-normal-size;
    font-weight: $font-weight-bold;
  }
}

.score {
  display: flex;
  gap: $spacing-3;
  text-align: center;
  h4 {
    font-weight: 700;
  }
  .score--avg h4 {
    color: $primary-color;
  }
  p {
    white-space: nowrap;
    margin: 0;
  }
}

.action {
  display: flex;
  flex-direction: row;
  gap: $spacing-2;
  @media (max-width: 991px) {
    justify-content: space-around;
  }
  
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-1;
    cursor: pointer;
    
    svg {
      width: $icon-lg;
      height: $icon-lg;
      color: $gray3;
      transition: $transition-base;
    }
    
    p {
      font-size: $body-small-size;
      color: $gray3;
      margin: 0;
    }
    
    &:hover {
      svg, p {
        color: $primary-color;
      }
    }
  }
}

// 공통 나의 코멘트 스타일
[class*="detail--mycomment"] {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  
  > div {
    display: flex;
    align-items: center;
  }
  
  span {
    margin-left: $spacing-2;
    color: $gray2;
  }
  
  p {
    margin: 0;
  }
  
  .comment {
    padding: 0 $spacing-3;
    display: flex;
    justify-content: space-between;
  }
  
  .comment--button {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    p {
      cursor: pointer;
      margin: 0;
      color: $gray3;
      &:hover {
        color: $primary-color;
      }
    }
  }

  .comment--edit {
    padding: 0 $spacing-3;
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }

  .comment--edit-actions {
    display: flex;
    gap: $spacing-2;
    justify-content: flex-end;
    margin-top: $spacing-2;
  }

  .comment--save-btn,
  .comment--delete-btn {
    padding: $spacing-1 $spacing-3;
    border: 1px solid $white;
    border-radius: $border-radius;
    background-color: transparent;
    color: $white;
    cursor: pointer;
    transition: $transition-base;
    font-size: $body-small-size;

    &:hover:not(:disabled) {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .comment--delete-btn {
    color: $gray3;
    border-color: $gray3;

    &:hover {
      background-color: rgba($color: $gray3, $alpha: 0.2);
      border-color: $gray3;
    }
  }
}

.detail--mycomment {
  // 모바일 전용
  display: none;
  
  @media (max-width: 991px) {
    display: block;
  }
}

.detail--mycomment-desk {
  // 데스크톱 전용
  display: block;
  
  @media (max-width: 991px) {
    display: none;
  }
}

.detail--synopsis {  
  p {
    margin: 0;
    font-size: $body-small-size;
    line-height: $body-small-line-height;
  }
}

.movie-comment {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-2;
  }
}

