@import "../../styles/globals.scss";

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.ratescore {
  display: flex;
  gap: $spacing-5;
}

.score {
  display: flex;
  gap: $spacing-3;
  h4 {
    font-weight: 700;
  }
  .score--avg h4 {
    color: $primary-color;
  }
}
